.container {
    width: 900px;
    margin: 0 auto;
}

.textarea {
    display: block;
    width: 900px;
    margin-bottom: 10px;
}

.keyboard {
    width: 890px;
    display: grid;
    grid-template-columns: repeat(30, 20px);
    grid-template-rows: repeat(5, 40px);
    gap: 10px;
    border: 3px solid slategray;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.key {
    grid-column-end: span 2;
    border: 1px solid slategray;
    border-radius: 4px;
    cursor: pointer;
    line-height: 40px;
}

.backspace, .caps, .enter, .left-shift {
    grid-column-end: span 4;
}

.left-ctrl, .right-ctrl {
    grid-column-end: span 3;
}

.space {
    grid-column-end: span 12;
}

.letter {
    /*padding-left: 22px;*/
    /*padding-top: 12px;*/
}

.fa {
    width: 100%;
}